
#slider-range {
    margin-top: 10px;
    margin-bottom: 20px;
}

#day {
    margin-bottom: 10px;
}

#playpause {
    margin-top: 10px;
}

p {
    font-size: 16px;
    padding-left: 75px;
    padding-right: 75px;
}

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}

.info h4 {
    margin: 0 0 5px;
    color: #777;
}

/*.info {
    background: lightgray;
    padding: 10px;
    opacity: .80;
}*/

.legend {
    line-height: 28px;
    color: black;
}
.legend i {
    width: 22px;
    height: 22px;
    float: left;
    margin-right: 8px;
    opacity: 0.9;
}

h1 {
    text-align: center;
}


#vis {
    border-radius: 5px;
    border: 2px solid #313532;
}

.display {
    padding:15px;
    border-radius: 5px;
    border: 2px solid #313532;
}

body {
    background-color: #EDFDF0;
}

.amount1, .amount2, .amount3 {
    background-color: #EDFDF0; 
}

#sensor {
    font-size: 14px;
    color:#f6931f;
    font-weight: bold;
}

#container2 {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 60px;
}

